.area-container{
	margin-bottom: $spacing;
	.area{
	    margin-bottom: 0;
	    padding: 0;
	    text-align: center;
	    vertical-align: top;
	}
	.area__icon{
		display: inline-block;
		width: 100px;
	}
	.area__title{
		color: $color-primary;
		font-size: 1.375em;
		font-weight: normal;
	    text-transform: uppercase;
	    &:before {
	    	background: $color-primary;
			content: " ";
			display: block;
			height: 1px;
			margin: 0 auto;
			width: 85%;
		}
	}

}