.image-grid{
	list-style: none;
	padding: 0;
}

.image-grid-item{
	display: inline-block;
	margin: 0 4px 1px 0;
	a{
		&:hover{
			cursor: pointer;
			opacity: .8;
		}
		&:focus{
			outline: none;
		}
	}
}
