.infobox{
	background-color: $color-primary;
	border-radius: $radius-base;
	color: $color-light;
	margin-bottom: $spacing;
	> *{
		padding: $spacing/2;
	}
	a{
		&:hover{
		text-decoration: underline;
		}
	}
}
.infobox-title{
	border-bottom: 1px solid $color-secondary;
	font-size: 1rem;
    font-weight: normal;
    line-height: 1em;
	margin: 0;
	text-transform: uppercase;
}