.navigationboxes{
	margin-bottom: $spacing;
}

.navigationbox{
	margin-bottom: $spacing;
	.inner{
		background-color: $color-primary;
		border-radius: 5px;
	    color: $color-light;
	    min-height: 155px;
	}
	.navigationbox__title{
		border-bottom: 1px solid $color-secondary;
	    font-size: 1rem;
	    font-weight: 400;
	    text-transform: uppercase;
	    line-height: 1em;
		padding: $spacing/2;
	}

	.navigationbox__text{
		padding: $spacing/2;
	}
}