.page-header--newsitem{
	margin-bottom: $spacing;
	position: relative;
	.page-title,
	.page-manchet{
		padding-left: 120px;
	}
}
.page-date{
	background-color: $color-primary;
	color: $color-secondary;
	border-radius: $radius-base;
	display: inline-block;
	padding: $spacing 0;
	position: absolute;
	top: 0;
	left: $spacing;
	text-align: center;
	width: 100px;
	span{
		display: block;
		text-transform: uppercase;
	}
	.page-date__day{
		font-size: 46px;
		line-height: 1em;
	}
	.page-date__month{
		font-size: 24px;
		line-height: 1em;
	}
	.page-date__year{
		font-size: 22px;
		line-height: 1em;
	}
}