.page-header--participant{
	.page-image{
		margin-bottom: -5px;
	}
}

.participant-infobox,
.participant-contactbox{
	background-color: $color-primary;
	border-bottom-left-radius: $radius-base; 
	border-bottom-right-radius: $radius-base; 
	color: $color-light;
	margin-bottom: $spacing;
	> *{
		padding: $spacing/2;
	}
	ul{
	    padding-left: 40px;
    	list-style-type: square;
	}
}

.participant-contactbox{
	border-radius: $radius-base;
}

.participant-contactbox__title,
.participant-infobox__title{
	border-bottom: 1px solid $color-secondary;
	font-size: 1rem;
    font-weight: normal;
    line-height: 1em;
	margin: 0 0 8px 0;
	text-transform: uppercase;
}

.participant-event{
	margin-bottom: $spacing;
}

.participant-event__content{
	position: relative
}

.participant-event__date{
	background-color: $color-primary;
	color: $color-secondary;
	border-radius: $radius-base;
	display: inline-block;
	padding: 8px 0 5px;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	width: 15%;
	span{
		display: block;
		text-transform: uppercase;
		&.participant-event__date-day{
			font-size: 20px;

			line-height: 1em;
		}
	}
}

.participant-event__name{
	font-weight: normal;
	vertical-align: top;
	padding-left: 17%;
}

.participant-event__text{
	padding-left: 17%;
}

.link--cta{
	clear: both;
	display: inline-block;
}