.site-header{
	margin-bottom: $spacing;
	padding-top: $spacing;
	.grid-inner{
		border-bottom: 2px solid $color-dark;
		padding-bottom: $spacing/2;
		position: relative;
	}
}

.main-nav-toggle{
	background-color: transparent;
	border: none;
	position: absolute;
	right: 0;
	top: 0;
	text-transform: uppercase;
}