extends layout/layout
block content
	header.page-header.page-header--area.container
		h1.page-title Indsatsområde
		p.page-manchet Målet med I sikre hænders tryksårsindsats er, at de fem projektkommuner reducerer antallet af tryksår i ældreplejen med 75 procent.
		img.page-header__area-icon(src="assets/images/ikon-tryksaar.png", alt="")
		img(src="http://placehold.it/1000x350", alt="").page-image
	section.page-content
		.container
			.grid-group
				.grid.size-8
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus quisquam voluptate perspiciatis quibusdam, optio explicabo incidunt nihil ad numquam, suscipit officiis aliquam, neque. Officiis consequatur maiores laboriosam a earum totam.
				.grid.size-4
					.infobox
						h3.infobox-title Materiale
						p blah blah
	section.news-container.container
		.grid-group.news-slider
			a(href="").grid.size-4.news-item
				img(src="http://placehold.it/350x250").news-item__image
				h2.news-item__title Nyhed
			a(href="").grid.size-4.news-item
				img(src="http://placehold.it/350x250").news-item__image
				h2.news-item__title Nyhed
			a(href="").grid.size-4.news-item
				img(src="http://placehold.it/350x250").news-item__image
				h2.news-item__title Nyhed
			a(href="").grid.size-4.news-item
				img(src="http://placehold.it/350x250").news-item__image
				h2.news-item__title Nyhed
			a(href="").grid.size-4.news-item
				img(src="http://placehold.it/350x250").news-item__image
				h2.news-item__title Nyhed
			a(href="").grid.size-4.news-item
				img(src="http://placehold.it/350x250").news-item__image
				h2.news-item__title Nyhediner.container
	section.results-container
		.results-slider.container
			.result-item
				.result-badge
					span.result-badge__amount 50
					span.result-badge__text dage
				.result-info
					span.result-info__type Uden medicinfejl
					br
					span.result-info__date 19. februar 2016
					br
					span.result-info__place Dragsbækcentret
					br
					a(href="").result-info__area Thisted Kommune
			.result-item
				.result-badge
					span.result-badge__amount 50
					span.result-badge__text dage
				.result-info
					span.result-info__type Uden medicinfejl
					br
					span.result-info__date 19. februar 2016
					br
					span.result-info__place Dragsbækcentret
					br
					a(href="").result-info__area Thisted Kommune
			.result-item
				.result-badge
					span.result-badge__amount 50
					span.result-badge__text dage
				.result-info
					span.result-info__type Uden medicinfejl
					br
					span.result-info__date 19. februar 2016
					br
					span.result-info__place Dragsbækcentret
					br
					a(href="").result-info__area Thisted Kommune
			.result-item
				.result-badge
					span.result-badge__amount 50
					span.result-badge__text dage
				.result-info
					span.result-info__type Uden medicinfejl
					br
					span.result-info__date 19. februar 2016
					br
					span.result-info__place Dragsbækcentret
					br
					a(href="").result-info__area Thisted Kommune
			.result-item
				.result-badge
					span.result-badge__amount 50
					span.result-badge__text dage
				.result-info
					span.result-info__type Uden medicinfejl
					br
					span.result-info__date 19. februar 2016
					br
					span.result-info__place Dragsbækcentret
					br
					a(href="").result-info__area Thisted Kommune