extends layout/layout
block content
  section.news-container.container
    .grid-group.news-slider
      a(href="").grid.size-4.news-item
        img(src="http://placehold.it/350x250").news-item__image
        h2.news-item__title Nyhed
      a(href="").grid.size-4.news-item
        img(src="http://placehold.it/350x250").news-item__image
        h2.news-item__title Nyhed
      a(href="").grid.size-4.news-item
        img(src="http://placehold.it/350x250").news-item__image
        h2.news-item__title Nyhed
      a(href="").grid.size-4.news-item
        img(src="http://placehold.it/350x250").news-item__image
        h2.news-item__title Nyhed
      a(href="").grid.size-4.news-item
        img(src="http://placehold.it/350x250").news-item__image
        h2.news-item__title Nyhed
      a(href="").grid.size-4.news-item
        img(src="http://placehold.it/350x250").news-item__image
        h2.news-item__title Nyhed
  section.participants-map-container
    div.participants-map-wrapper.
      <div id="map" style="height: 400px; width: 100%;"></div>
      <script>
      function initMap() {
        // Styles a map in night mode.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 55.67610, lng: 12.56834},
          zoom: 7,
          styles: [
          {
            "featureType": "administrative",
            "stylers": [
              {
                "color": "#f54425"
              },
              {
                "visibility": "simplified"
              }
            ]
          },
          {
            "featureType": "administrative",
            "elementType": "labels",
            "stylers": [
              {
                "color": "#000000"
              },
              {
                "saturation": -100
              },
              {
                "lightness": -100
              },
              {
                "weight": 6
              }
            ]
          },
          {
            "featureType": "administrative",
            "elementType": "labels.text",
            "stylers": [
              {
                "color": "#151515"
              },
              {
                "saturation": 100
              },
              {
                "lightness": -85
              },
              {
                "visibility": "simplified"
              },
              {
                "weight": 8
              }
            ]
          },
          {
            "featureType": "administrative.country",
            "elementType": "labels.text",
            "stylers": [
              {
                "color": "#000000"
              },
              {
                "visibility": "simplified"
              }
            ]
          },
          {
            "featureType": "administrative.land_parcel",
            "elementType": "labels",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "landscape",
            "stylers": [
              {
                "color": "#5c8268"
              }
            ]
          },
          {
            "featureType": "landscape",
            "elementType": "labels",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "landscape.natural.landcover",
            "stylers": [
              {
                "color": "#21e205"
              }
            ]
          },
          {
            "featureType": "landscape.natural.landcover",
            "elementType": "geometry.fill",
            "stylers": [
              {
                "color": "#000000"
              }
            ]
          },
          {
            "featureType": "landscape.natural.landcover",
            "elementType": "labels.icon",
            "stylers": [
              {
                "visibility": "simplified"
              }
            ]
          },
          {
            "featureType": "landscape.natural.terrain",
            "stylers": [
              {
                "color": "#3f5847"
              }
            ]
          },
          {
            "featureType": "poi",
            "elementType": "labels.text",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "poi.business",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "poi.park",
            "stylers": [
              {
                "color": "#8dad98"
              }
            ]
          },
          {
            "featureType": "poi.park",
            "elementType": "labels.text",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "road.arterial",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "road.highway",
            "stylers": [
              {
                "color": "#dbe6df"
              },
              {
                "lightness": -15
              }
            ]
          },
          {
            "featureType": "road.highway",
            "elementType": "labels",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "road.local",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "road.local",
            "elementType": "labels",
            "stylers": [
              {
                "visibility": "off"
              }
            ]
          },
          {
            "featureType": "water",
            "stylers": [
              {
                "color": "#fdf8e8"
              }
            ]
          }
        ]
        });
      }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB6I-fXVds4O3Sgl0Yps_BV-t01LAbuIdU&callback=initMap"
            async defer></script>
  section.area-container.container
    .grid-group
      .grid.size-2.size-4--lap.size-6--palm.area
        img(src="assets/images/ikon-tryksaar.png", alt="").area__icon
        h3.area__title Tryksår
      .grid.size-2.size-4--lap.size-6--palm.area
        img(src="assets/images/ikon-medicin.png", alt="").area__icon
        h3.area__title Medicin
      .grid.size-2.size-4--lap.size-6--palm.area
        img(src="assets/images/ikon-fald.png", alt="").area__icon
        h3.area__title Fald
      .grid.size-2.size-4--lap.size-6--palm.area
        img(src="assets/images/ikon-infektioner.png", alt="").area__icon
        h3.area__title Infektioner
      .grid.size-2.size-4--lap.size-6--palm.area
        img(src="assets/images/ikon-ledelse.png", alt="").area__icon
        h3.area__title Ledelse
      .grid.size-2.size-4--lap.size-6--palm.area
        img(src="assets/images/ikon-paaroerende.png", alt="").area__icon
        h3.area__title Borgere og pårørende
  section.results-container
    .container.results-slider
      .result-item
        .result-badge
          span.result-badge__amount 50
          span.result-badge__text dage
        .result-info
          span.result-info__type Uden medicinfejl
          br
          span.result-info__date 19. februar 2016
          br
          span.result-info__place Dragsbækcentret
          br
          a(href="").result-info__area Thisted Kommune
      .result-item
        .result-badge
          span.result-badge__amount 50
          span.result-badge__text dage
        .result-info
          span.result-info__type Uden medicinfejl
          br
          span.result-info__date 19. februar 2016
          br
          span.result-info__place Dragsbækcentret
          br
          a(href="").result-info__area Thisted Kommune
      .result-item
        .result-badge
          span.result-badge__amount 50
          span.result-badge__text dage
        .result-info
          span.result-info__type Uden medicinfejl
          br
          span.result-info__date 19. februar 2016
          br
          span.result-info__place Dragsbækcentret
          br
          a(href="").result-info__area Thisted Kommune
      .result-item
        .result-badge
          span.result-badge__amount 50
          span.result-badge__text dage
        .result-info
          span.result-info__type Uden medicinfejl
          br
          span.result-info__date 19. februar 2016
          br
          span.result-info__place Dragsbækcentret
          br
          a(href="").result-info__area Thisted Kommune
      .result-item
        .result-badge
          span.result-badge__amount 50
          span.result-badge__text dage
        .result-info
          span.result-info__type Uden medicinfejl
          br
          span.result-info__date 19. februar 2016
          br
          span.result-info__place Dragsbækcentret
          br
          a(href="").result-info__area Thisted Kommune
      .result-item
        .result-badge
          span.result-badge__amount 50
          span.result-badge__text dage
        .result-info
          span.result-info__type Uden medicinfejl
          br
          span.result-info__date 19. februar 2016
          br
          span.result-info__place Dragsbækcentret
          br
          a(href="").result-info__area Thisted Kommune
  section.juicer-container.container
    h2 Juicer
  section.box-container.container
    .grid-group
      .grid.size-6.size-12--palm
        .grid-inner
          h2 Box title
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt aspernatur cumque nemo harum cum dolorem officiis maiores rerum quos nobis ipsa esse, commodi, nesciunt, animi repellendus non modi odit minus.
      .grid.size-6.size-12--palm
        .grid-inner
          h2 Box title
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt aspernatur cumque nemo harum cum dolorem officiis maiores rerum quos nobis ipsa esse, commodi, nesciunt, animi repellendus non modi odit minus.
      .grid.size-6.size-12--palm
        .grid-inner
          h2 Box title
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt aspernatur cumque nemo harum cum dolorem officiis maiores rerum quos nobis ipsa esse, commodi, nesciunt, animi repellendus non modi odit minus.
      .grid.size-6.size-12--palm
        .grid-inner
          h2 Box title
          p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt aspernatur cumque nemo harum cum dolorem officiis maiores rerum quos nobis ipsa esse, commodi, nesciunt, animi repellendus non modi odit minus.