extends layout/layout
block content
	header.page-header.page-header--newsitem.container
		h1.page-title Nem adgang til hjælpemidler reducerer tryksår i Thisted
		p.page-manchet Målet med I sikre hænders tryksårsindsats er, at de fem projektkommuner reducerer antallet af tryksår i ældreplejen med 75 procent.
		span.page-date
			span.page-date__day 02
			span.page-date__month Oct
			span.page-date__year 2015
		img(src="http://placehold.it/1000x350", alt="").page-image
		p.page-image-caption Thisted Kommune har fjernet flaskehalse og uhensigtmæssige arbejdsgange med det resultat, at personalet har nemmere adgang til hjælpemidler, og borgerne undgår smertefulde tryksår. © Dansk Selskab for Patientsikkerhed


	section.page-content
		.container
			.grid-group
				.grid.size-8
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus quisquam voluptate perspiciatis quibusdam, optio explicabo incidunt nihil ad numquam, suscipit officiis aliquam, neque. Officiis consequatur maiores laboriosam a earum totam.
					ul.image-grid
						li.image-grid-item
							a.colorbox
								img(src="http://placehold.it/150x150")
						li.image-grid-item
							a.colorbox
								img(src="http://placehold.it/150x150")
						li.image-grid-item
							a.colorbox
								img(src="http://placehold.it/150x150")
						li.image-grid-item
							a.colorbox
								img(src="http://placehold.it/150x150")
						li.image-grid-item
							a.colorbox
								img(src="http://placehold.it/150x150")
						li.image-grid-item
							a.colorbox
								img(src="http://placehold.it/150x150")
						li.image-grid-item
							a.colorbox
								img(src="http://placehold.it/150x150")
						li.image-grid-item
							a.colorbox
								img(src="http://placehold.it/150x150")
						li.image-grid-item
							a.colorbox
								img(src="http://placehold.it/150x150")
				.grid.size-4
					.infobox
						h3.infobox-title Fun fact
						p blah blah
					blockquote
						.quote - På det her tidspunkt skulle Helga have hjælp til alt. Hun kunne ikke stå på benene, hun var afkræftet, og hun havde næsten ikke noget sprog. Hun sagde ikke mange ting.
						.quotee Annegrethe Ecklon, daglig leder på Broager Plejecenter
			.grid-group.navigationboxes
				.grid.size-4.size-6--palm.navigationbox
					.inner
						h4.navigationbox__title Title
						p.navigationbox__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				.grid.size-4.size-6--palm.navigationbox
					.inner
						h4.navigationbox__title Title
						p.navigationbox__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				.grid.size-4.size-6--palm.navigationbox
					.inner
						h4.navigationbox__title Title
						p.navigationbox__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				.grid.size-4.size-6--palm.navigationbox
					.inner
						h4.navigationbox__title Title
						p.navigationbox__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit.