extends layout/layout
block content
	header.page-header.page-header--participant.container
		h1.page-title Kommune
		.grid-group
			.grid.size-8.size-12--palm
				img(src="assets/images/frederiksberg-raadhus.jpg", alt="").page-image
				.participant-infobox
					h3.participant-infobox__title Om kommunen
					ul
						li 102.838 indbyggere
						li 16.840 (16 %) indbyggere over 65 år
						li 13 plejehjem
						li 910 pladser på plejehjem
						li Hjemmeplejen består af tre geografiske områder med underopdeling i en række grupper
						li 3.100 borgere i hjemmeplejen (inklusiv hjemmesygeplejen)
						li 422 medarbejdere i hjemmeplejen
			.grid.size-4.size-12--palm
				.participant-contactbox
					h3.participant-contactbox__title Kontakt
					ul.participant-contactbox__info
						li.participant-contactbox__name Projektleder Merete Larsen
						li.participant-contactbox__mail mela03@frederiksberg.dk
						li.participant-contactbox__phone 28 98 52 04
				.participant-event
					h3.participant-event__title Næste aktivitet
					div.participant-event__content
						date.participant-event__date
							span.participant-event__date-day 01
							span.participant-event__date-month nov
						h4.participant-event__name Primærsektorkonferencen
						p.participant-event__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						a(href="#").link--cta Læs mere om aktiviteten


	section.results-container
		.results-slider.container
			.result-item
				.result-badge
					span.result-badge__amount 50
					span.result-badge__text dage
				.result-info
					span.result-info__type Uden medicinfejl
					br
					span.result-info__date 19. februar 2016
					br
					span.result-info__place Dragsbækcentret
					br
					a(href="").result-info__area Thisted Kommune
			.result-item
				.result-badge
					span.result-badge__amount 50
					span.result-badge__text dage
				.result-info
					span.result-info__type Uden medicinfejl
					br
					span.result-info__date 19. februar 2016
					br
					span.result-info__place Dragsbækcentret
					br
					a(href="").result-info__area Thisted Kommune
			.result-item
				.result-badge
					span.result-badge__amount 50
					span.result-badge__text dage
				.result-info
					span.result-info__type Uden medicinfejl
					br
					span.result-info__date 19. februar 2016
					br
					span.result-info__place Dragsbækcentret
					br
					a(href="").result-info__area Thisted Kommune
			.result-item
				.result-badge
					span.result-badge__amount 50
					span.result-badge__text dage
				.result-info
					span.result-info__type Uden medicinfejl
					br
					span.result-info__date 19. februar 2016
					br
					span.result-info__place Dragsbækcentret
					br
					a(href="").result-info__area Thisted Kommune
			.result-item
				.result-badge
					span.result-badge__amount 50
					span.result-badge__text dage
				.result-info
					span.result-info__type Uden medicinfejl
					br
					span.result-info__date 19. februar 2016
					br
					span.result-info__place Dragsbækcentret
					br
					a(href="").result-info__area Thisted Kommune
	section.page-content
		.container
			.grid-group
				.grid.size-8
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus quisquam voluptate perspiciatis quibusdam, optio explicabo incidunt nihil ad numquam, suscipit officiis aliquam, neque. Officiis consequatur maiores laboriosam a earum totam.
				.grid.size-4
					p More text
	section.news-container.container
		.grid-group.news-slider
			a(href="").grid.size-4.news-item
				img(src="http://placehold.it/350x250").news-item__image
				h2.news-item__title Nyhed
			a(href="").grid.size-4.news-item
				img(src="http://placehold.it/350x250").news-item__image
				h2.news-item__title Nyhed
			a(href="").grid.size-4.news-item
				img(src="http://placehold.it/350x250").news-item__image
				h2.news-item__title Nyhed
			a(href="").grid.size-4.news-item
				img(src="http://placehold.it/350x250").news-item__image
				h2.news-item__title Nyhed
			a(href="").grid.size-4.news-item
				img(src="http://placehold.it/350x250").news-item__image
				h2.news-item__title Nyhed
			a(href="").grid.size-4.news-item
				img(src="http://placehold.it/350x250").news-item__image
				h2.news-item__title Nyhediner.container